# 도시별로 온도 데이터 (min, max) 추출

In [5]:
# filter
# Return a new RDD containing only the elements that satisfy a predicate.

import pyspark

sc = pyspark.SparkContext.getOrCreate()
test_file = "file:///home/jovyan/work/sample/temperature.csv"

def get_data(line, header):
    if line != header:
        col = line.split(',')
        city = col[6].strip("\"")
        avg_temp_fahr = col[4]
        yield (city, avg_temp_fahr)

lines = sc.textFile(test_file)

# get header string
header = lines.first()

parsed_line = lines.flatMap(lambda line: get_data(line, header))

# filter NA values
filtered_line = parsed_line.filter(lambda x: "NA" not in x[1])

In [9]:
# 최저기온

# finding min temperature
min_temp = filtered_line.reduceByKey(lambda x, y: min(float(x), float(y)))
final_list = min_temp.collect()
for city, temperature in final_list:
    print(f"{city}: {temperature}")

Auckland: 49.856
Canoas: 50.009
Cape Town: 49.9946
Hamilton: 44.564
Kherson: 7.0952
Kiev: 2.85619999999999
Lvov: 7.1726
Marseille: 39.3908
Odesa: 14.8838
Stockholm: 13.3988
Wroclaw: 9.167
NA: 12.4682
Brasília: 62.9744
Johannesburg: 42.1772
Paris: 25.0232
Tokyo: 29.156
Tottori: 34.2518
Uppsala: 6.0494
Warsaw: 6.8

In [10]:
# 최고기온

print("------------------")
# finding max temperature
max_temp = filtered_line.reduceByKey(lambda x, y: max(float(x), float(y)))
final_list = max_temp.collect()
for city, temperature in final_list:
    print(f"{city}: {temperature}")

------------------
Auckland: 71.1284
Canoas: 78.5822
Cape Town: 71.7512
Hamilton: 70.3562
Kherson: 78.6758
Kiev: 76.2674
Lvov: 72.3344
Marseille: 80.9132
Odesa: 77.8748
Stockholm: 68.9792
Wroclaw: 71.4398
NA: 82.067
Brasília: 78.6794
Johannesburg: 71.5766
Paris: 73.8752
Tokyo: 81.131
Tottori: 84.6554
Uppsala: 67.9424
Warsaw: 73.112