In [20]:
from pyspark.sql import (
    functions as f,
    Row,
    SparkSession,
    types as t
)

spark = SparkSession.builder.appName("df_struct").getOrCreate()

# types.StructField(name, dataType, nullable=True, metadata=None)
table_schema = t.StructType([
    t.StructField("country", t.StringType(), True),
    t.StructField("temperature", t.FloatType(), True),
    t.StructField("observed_date", t.StringType(), True)])

csv_file_path = "file:///home/jovyan/work/sample/temp_with_date.csv"
df = spark.read.schema(table_schema).csv(csv_file_path)
# df.printSchema()

data = df.select("country", "temperature", "observed_date")

min_temperature = data.groupBy("country").min("temperature")

# min_temperature.show()

# # celsius to fahrenheit: (0°C × 9/5) + 32 
f_temperature = data.withColumn(
                    "temperature",
                    (f.col("temperature") * 9 / 5) + 32)\
                .select("country", "temperature")
f_temperature.show()

+--------------------+-------------------+
|                city|        temperature|
+--------------------+-------------------+
|                Guam|              -13.0|
|                Guam|              102.2|
|              Serbia|              -31.0|
|       French Guiana|               21.2|
|Falkland Islands ...|              -40.0|
|              Brazil|               59.0|
|             Tunisia|-23.799999999999997|
|            Portugal|               44.6|
|                Iran| -7.600000000000001|
|           Australia|               23.0|
|              Gambia|               69.8|
|               Italy|               87.8|
|          Guadeloupe|              -38.2|
|        South Africa|-11.200000000000003|
|              Malawi|               21.2|
|                Iran|               93.2|
|      Norfolk Island|               23.0|
|Lao People's Demo...|               77.0|
|   Republic of Korea|-0.3999999999999986|
|           Singapore|                5.0|
+--------------------+-------------------+
only showing top 20 rows